@model  IEnumerable<Actors.Models.MainPageViewModel>
@{
    Layout = null;
}

<ul style="list-style: none" , class="row">
    @foreach (var actorModel in Model)
    {
        <li class="col-md-2 photo_back">
            <br />
            @{
                var path = actorModel.PhotoPath.Replace(" ", "_") + ".jpg";
            }

            <a href="~/Images/@path" data-fancybox data-caption="Caption for single image">
                <img class="img-thumbnail" src="~/Images/@path" alt="..." />
            </a>
            <br />
            <label onclick="javascript:ShowActorInfo('@actorModel.ActorId')">@actorModel.ActorName</label>
        </li>

    }
</ul>